@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
body {
    font-family: Arial, sans-serif; 
}
nav {
    position: sticky;
    top: 0;
    background-color: #223073;
    padding: 20px 5px;
    display: flex;
    justify-content: space-around;
    z-index: 100;
    flex-wrap: wrap; 
}x
nav a {
    color: rgb(34, 213, 233);
    text-decoration: none;
    margin: 0 5%; 
}
nav img {
    border-radius: 25%;
    margin-right: 0; 
    max-width: 80px;
    height: auto;
}
.Parent-Container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background-color: #ffffff;
}
.left-column, .right-column {
    width: 100%;
    padding: 20px;
}
.left-column {
    background-color: #a0dcc4;
    color: #4e5ca3;
    padding: 3vw;
}
.right-column {
    background-color: #8b9ae4;
    color: aliceblue;
    padding: 20px;
}
.left-column h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.right-column h1 {
    text-align: center;
    font-size: 3vw;
}
.right-column p {
    text-align: justify;
    font-size: 12px;
    font-family: "Lora", serif;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    color: inherit; 
}
nav a:hover {
    color: #fdfdfd; 
    text-decoration: underline;
}
@media screen and (min-width: 768px) {
        .Parent-Container {
        flex-direction: row; 
        justify-content: space-between; 
    }
    .left-column {
        width: 30%; 
        padding: 3vw; 
    }
    .right-column {
        width: 70%; 
        padding: 20px;
    }
    nav img {
        margin-right: 10; 
    }
    nav a {
        margin: 0 10px;
    }
    nav {
        height: 10%;
    }
}
@media screen and (min-width: 450px) {
    
    
}